<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random World</title>
</head>
<body>
    <h1>Palabra Aleatoria (Intento # {{request.session.contador}})</h1>
    <br>
    <h2>{{rdstring}} </h2>
    <br>
    <button><a href="http://127.0.0.1:8000/random_world">Generar</a></button>

    <form action='/random_world' method ='post'>
        {% csrf_token %}
        <button type="submit">Resetear</button>
    </form>
    
</body>
</html>